body {
    /*background-image: url("../content/catdance.gif");*/
    background-size: 10%;
    padding: 0px;
    margin: 0px;
    background-color: rgb(3, 4, 14);
    overflow: hidden;
}

.main {
    margin: auto;
    min-width: 900px;
    width: 50vw;
    align-self: center;
    text-align: center;
    padding: 20px;
    background-color: #ff2aa67a;
    min-height: 100vh;
    text-shadow: 0px 0px 6px #ffffffff;
    max-width: ;
}

.centercontainer{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    min-height: 100vh;
    font-family: ;
}
    
.centercontainer:after {
    content: "";
    display: block;
    width: 4330px;
    height: 2130px;
    background: radial-gradient(ellipse at center, rgba(255,255,255,0) 0%,rgb(0, 0, 0) 15%,rgb(0, 0, 0) 100%);
    border-radius: 50%;
    position: absolute;
}

.rat {
    display: none;
    width: 50px;
    height: 50px;
}

.show {
    display: block;
}

.note {
    display: block;    
}

.note:hover{
    border: solid 2px white;
}

*.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}